.life-feed__card-link {
  width: fit-content;
  margin-inline-start: 16px;
  margin-block-end: 23px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 34px 8px 34px;
  color: #00b7ec;
  text-decoration: none;
}
