@import url("./-title/interview-section__container-title.css");
@import url("./interviewForm/interviewForm.css");

.interview-section__container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  min-width: 320px;
  max-width: 840px;
  padding: 18px 28px 16px 30px;
  background-color: #00b7ece6;
}

@media (min-width: 1025px) {
  .interview-section__container {
    gap: 17px;
    padding: 3.552% 11.128% 4.3% 10.417%;
  }
}
