@import url("./__title/welcome__title.css");
@import url("./__description/welcome__description.css");

@media (max-width: 1024px) {
  .welcome__text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 1025px) {
  .welcome__text-container {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 66%;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
}
