@media (min-width: 1025px) {
  .header__button-desktop {
    border: none;
    border-radius: 5px;
    padding: 10px 0 5px 0;
    outline: 1px solid #00b7ec;
    color: #00b7ec;
    font-weight: 400;
    font-size: 18px;
    line-height: 137%;
    background-color: #fff;
    inline-size: 20%;
  }

  .header__button-desktop:hover {
    outline-color: #1998d5;
    color: #1998d5;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .header__button-desktop {
    display: none;
  }
}
