@import url("./-item/life-feed__card-item.css");
@import url("./-link/life-feed__card-link.css");

.life-feed__card {
  display: flex;
  flex-direction: column;
  flex: 0 0 84%;
  justify-content: space-between;
  box-sizing: border-box;
  height: 412px;
  margin-inline-start: 40px;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 0px #666666b2;
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.16) 55.33%,
    rgba(7, 168, 219, 0.16) 98.64%
  );
  backdrop-filter: blur(8px);
  border-image-source: linear-gradient(
    161.98deg,
    #ffffff -3.6%,
    rgba(255, 255, 255, 0.2) 108.71%
  );
  max-inline-size: 294px;
}

@media (min-width: 1025px) {
  .life-feed__card {
    margin-inline-start: 29px;
    max-inline-size: 273px;
  }
}
