@import url("./validation-icon/validation-icon.css");

.input-group {
  position: relative;
  margin-bottom: 8px;
}

.input-group:nth-child(4) {
  margin-bottom: 24px;
}

.input-group:nth-child(6) {
  margin-bottom: 16px;
}

.input-group input {
  width: 100%;
  border-radius: 5px;
  padding: 14px 0 11px 16px;
  outline: 1px solid rgba(102, 102, 102, 0.9);
  color: rgba(102, 102, 102, 1);
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
}

.input-group:nth-child(6) textarea {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 14px 0 11px 16px;
  outline: 1px solid rgba(102, 102, 102, 0.9);
  color: rgba(102, 102, 102, 1);
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
}

.input-group input.valid {
  outline: 2px solid rgba(155, 204, 55, 1);
}

.input-group input.invalid {
  outline: 2px solid rgba(253, 117, 131, 1);
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 296px;
  margin: 5px 0;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.file-item button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: #ff4d4d;
  cursor: pointer;
}

.file-item button:hover {
  background-color: #fd7583;
}

@media (min-width: 1025px) {
  .input-group:nth-child(6) textarea {
    height: 110px;
    padding: 15px 16px;
  }

  .input-group:nth-child(6) textarea::placeholder {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .input-group:nth-child(6) {
    margin-bottom: 13px;
  }

  .file-item {
    max-width: 270px;
    margin-bottom: 5px;
    padding: 5px;
    font-weight: 300;
    font-size: 18px;
  }
}
