.your-growth__title {
  color: #00b7ec;
  font-weight: 400;
  font-size: 28px;
  line-height: 137%;
  letter-spacing: 0%;
  text-align: center;
}

@media (min-width: 1025px) {
  .your-growth__title {
    padding-inline-start: 68px;
    font-weight: 300;
    font-size: 36px;
  }
}
