.faq-answer-item {
  position: relative;
  margin-block-end: 10px;
  padding-left: 20px;
  color: #666666;
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  letter-spacing: 0%;
}

.faq-answer-item::before {
  content: "";
  position: absolute;
  top: 6%;
  left: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #666666;
  transform: translateY(-50%);
}

.faq-answer-item:first-of-type::before {
  display: none;
}

.faq-answer-item:first-child {
  padding-left: 0;
}

.faq-answer-item:last-child {
  margin-block-end: 31px;
}

.faq-answer-item:last-child::before {
  top: 5%;
}

@media (min-width: 1025px) {
  .faq-answer-item {
    margin-block-end: 10px;
    padding-left: 65px;
  }

  .faq-answer-item::before {
    top: 15%;
    left: 6%;
    width: 5px;
    height: 5px;
  }

  .faq-answer-item:first-child {
    margin-block-end: 9px;
    padding-right: 30px;
    padding-left: 35px;
  }

  .faq-answer-item:nth-child(2) {
    margin-block-end: 9px;
  }

  .faq-answer-item:nth-child(3) {
    margin-block-end: 12px;
  }

  .faq-answer-item:last-child {
    margin-block-end: 30px;
  }

  .faq-answer-item:last-child::before {
    top: 10%;
    left: 6%;
  }
}
