.card-number {
  position: absolute;
  top: 13px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 30px;
  background-image: url("../../../../../../images/Hexagon.png");
  background-position: center;
  background-size: contain;
  inline-size: 64px;
  block-size: 70px;
}

@media (min-width: 1025px) {
  .card-number {
    top: 25px;
    left: 15px;
    font-weight: 700;
    font-size: 64px;
    line-height: 30px;
    block-size: 90px;
    inline-size: 80px;
  }

  .even {
    top: 35px;
    left: 55px;
  }
}
