@import url("./__wrapper/our-values__wrapper.css");

.our-values {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 23px 0 0 0;
  overflow: hidden;
  background-color: #e9e9e9;
}

@media (min-width: 1025px) {
  .our-values {
    align-items: center;
    gap: 39px;
    padding: 2.735% 0 5.313%;
  }
}
