@import url("./__title/our-values__title.css");
@import url("./__slider-container/our-values__slider-container.css");

.our-values {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 23px 0 0 0;
  overflow: hidden;
  background-color: #e9e9e9;
}

@media (min-width: 1025px) {
  .our-values {
    gap: 39px;
    padding: 2.735% 0 5.313%;
  }
}
