@import url("./__wrapper-desctop/header__wrapper-desctop.css");
@import url("./__link-mobile/header__link-mobile.css");
@import url("./__button-mobile/header__button-mobile.css");

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 9px 11px;
}

@media (min-width: 1025px) {
  .header {
    justify-content: center;
    padding: 0.547% 0.782% 0.547% 0.469%;
    background-color: #00b7ec;
  }
}
