@import url("./faq-section__wrapper/faq-section__wrapper.css");

.faq-section {
  display: flex;
  flex-wrap: wrap;
  padding: 26px 0 19px 20px;
  background: linear-gradient(
    320deg,
    rgb(5 176 213 / 50%) 11.27%,
    rgb(39 221 209 / 50%) 36.94%,
    rgb(70 205 22 / 20%) 59.63%,
    rgb(40 228 115 / 20%) 82.7%
  );
}

@media (min-width: 1025px) {
  .faq-section {
    justify-content: center;
    padding: 64px 0 30px 10px;
  }
}
